<head>
  <link rel="stylesheet" href="/assets/css/cookies.css">
</head> 
<div class="cookies-container">
  <div class="cookies-content">
    <p>Nós utilizamos cookies analíticos para analisar o tráfego no nosso website e fornecer a melhor experiência de navegação a você. Visualize aqui a nossa <a href="/politica-de-cookies" target="_blank">Política de Cookies</a> e conheça mais sobre nossa <a href="/politica-de-privacidade" target="_blank">Politica de Privacidade</a>.</p>
    <button class="cookies-save">Prosseguir</button>
  </div>
</div>
<script src="/assets/js/cookies.js"></script>
</body>
