<div class="container-fluid justify-content-center">

  {%- assign unfocused_color = "6c757d" -%}

  {% for account in site.author %}

    {%- assign service_name = account[0] -%}
    {%- assign service_data = site.data.social-media[service_name] -%}
    {%- if service_data -%}    
    <a class="social mx-1"  href="{{ service_data.url }}{{ account[1] }}" target="_blank"
       style="color: #{{ unfocused_color }}"
       onMouseOver="this.style.color='#{{ service_data.color }}'"
       onMouseOut="this.style.color='#{{ unfocused_color }}'">
      <i class="{{ service_data.icon }} fa-1x"></i>
    </a>
    {%- endif -%}
  
  {% endfor %}

  &nbsp;<a href="https://web.whatsapp.com/send?phone=5531993523535"
  style="
       font-family: sans-serif;
       text-decoration: none;
       margin: 0.2em auto;
       color: #fff;
       font-size: 0.7em;
       padding: 0.7em 0.7em 0.4em 1.5em;
       border-radius: 2em;
       font-weight: bold;
       background: #25d366 url('https://tochat.be/click-to-chat-directory/css/whatsapp.svg') no-repeat 0.3em center;
       background-size: 1.6em;"></a>


</div>