<div class="col-lg">
  <h3 class="linha4">{{ include.title }}</h3>

	<p>Este Aviso de Privacidade foi elaborado em atenção à Lei nº 13.709/2018 (Lei Geral de Proteção de Dados Pessoais - LGPD), Lei Federal nº 12.965/2014 (Marco Civil da Internet) e Lei Federal nº 8.078/1990 (Código de Defesa do Consumidor), sem prejuízo de observância das demais legislações e normas aplicáveis à WE COMPLY.</p>
	<p>A transparência é nosso valor fundamental! Abaixo explicamos os motivos e finalidades pelos quais seus dados podem ser coletados em nosso website.</p><br>
	
  <h3 class="linha4">1. COLETA, USO E ARMAZENAMENTO DE DADOS</h3>

	<p>1.1.	Os dados são coletados quando inseridos ou submetidos voluntariamente pelos USUÁRIOS ao utilizar o website da WE COMPLY.</p><br>

	<p>1.2.	As informações podem ser coletadas direta ou indiretamente e incluem, mas não se limitam a:</p>

	<p>I.	Nome completo;<br>
	II.	Endereço de e-mail;<br>
	III. Telefone;<br>
	IV.	Endereço de IP;<br>
	V.	Páginas da Web visitadas;<br>
	VI.	Links e botões clicados;<br>
	VII. Informações sobre navegador, dispositivo utilizado, sistema operacional.</p><br>

	<p>1.3.	Os dados coletados poderão ser utilizados para as seguintes finalidades:</p>

	<p>I.	Envio de artigos, Newsletters, notícias, promoções e/ou outros conteúdos relacionados aos serviços oferecidos pela WE COMPLY;<br>
	II.	Divulgação de conteúdo, comunicados institucionais e/ou eventos promovidos pela WE COMPLY;<br>
	III.	Atender de forma adequada suas dúvidas e solicitações;<br>
	IV.	Receber seu contato e/ou denúncia por meio de nossos canais;<br>
	V.	Ações de marketing, pesquisas e envio de questionário de satisfação do(a) USUÁRIO(A);<br>
	VI.	Para o cumprimento pela WE COMPLY de obrigações legais e/ou regulatórias;<br>
	VII.	Compartilhar dados utilizando tecnologia de cookies para uma maior performance de nosso website;<br>
	VIII.	Identificar o perfil de USUÁRIOS que navegam em nosso website e aperfeiçoar a experiência interativa durante a navegação;</p><br>

	<p>1.4.	Nós da WE COMPLY não realizamos comercialização de seus dados;</p><br>

	<p>1.5.	Eventuais compartilhamentos e acessos de terceiros, quando necessários, para a realização de serviços técnicos e/ou de suporte dizem respeito tão somente às finalidades elencadas no item “1.3” e, desde que obedecido ao disposto na presente Política.</p><br>

	<p>1.6.	Internamente, os dados dos USUÁRIOS são acessados somente por profissionais devidamente autorizados, respeitando os princípios da necessidade, proporcionalidade, finalidade, sempre em atenção ao nosso compromisso com a confidencialidade e preservação da privacidade.</p><br>

	<p>1.7.	Os dados coletados de nossos USUÁRIOS são armazenados em servidores próprios ou de terceiros contratados exclusivamente para esta finalidade, físicos ou em nuvem podendo estar alocados no Brasil ou no exterior, o qual o(a) USUÁRIO(A) manifesta seu conhecimento e consentimento desde já.</p><br>

	<p>1.8.	Os dados pessoais dos USUÁRIOS são conservados pelo período estritamente necessário para cada uma das finalidades previstas nos termos de consentimento disponibilizados em cada ponto de coleta de dados do nosso website.</p><br>

	<p>1.9.	O armazenamento sempre observará as bases legais previstas na Lei Geral de Proteção de Dados (LGPD) e/ou outras legislações pertinentes e, serão automaticamente eliminados quando deixarem de ser úteis para os fins que foram coletados e/ou não forem mais necessários para cumprir qualquer obrigação legal direcionada à esta Organização, ou, ainda, quando o(a) USUÁRIO(A) solicitar a sua eliminação, exceto se a manutenção do dado for expressamente autorizada por lei.</p><br>

	<h3 class="linha4">2. DIREITO DOS USUÁRIOS ENQUANTO TITULARES DE DADOS</h3>

	<p>2.1.	Os USUÁRIOS, titular de dados pessoais, tem direito assegurado pela LGPD, a qualquer momento e, mediante requisição por meio dos contados disponibilizados no item “4”, à:</p>

	<p>I.	Confirmação da existência do tratamento;<br>
	II.	Acesso aos dados;<br>
	III.	Correção de dados incompletos, inexatos ou desatualizados;<br>
	IV.	Anonimização, bloqueio ou eliminação de dados desnecessários, excessivos ou tratados em desconformidade com a Lei Geral de Proteção de Dados;<br>
	V.	Portabilidade dos dados a outro fornecedor de serviço ou produto, mediante requisição expressa, de acordo com a regulamentação da autoridade nacional, observados os segredos comercial e industrial;<br>
	VI.	Eliminação dos dados pessoais tratados com o consentimento do titular, exceto nas hipóteses de cumprimento de obrigação legal ou regulatória pelo controlador e estudo por órgão de pesquisa, garantindo a anonimização dos dados pessoais sempre que possível;<br>
	VII.	Transferência a terceiro, desde que respeitados os requisitos de tratamento de dados dispostos na Lei Geral de Proteção de Dados ou uso exclusivo do controlador, vedado seu acesso por terceiro, e desde que anonimizados os dados;<br>
	VIII.	Informação das entidades públicas e privadas com as quais o controlador realizou uso compartilhado de dados;<br>
	IX.	Informação sobre a possibilidade de não fornecer consentimento e sobre as consequências da negativa; e<br>
	X.	Revogação do consentimento, por procedimento gratuito e facilitado, ratificados os tratamentos realizados sob o amparo do consentimento anteriormente manifestado.</p><br>

	<h3 class="linha4">3. COOKIES E REGISTRO DE ATIVIDADES</h3>

	<p>3.1.	A WE COMPLY utiliza cookies para analisar o tráfego no website, com o intuito de oferecer as melhores experiências de navegação para seus USUÁRIOS através de personalização de conteúdo e anúncios. Através dos cookies podemos analisar:</p>

	<p>I. Páginas e telas acessadas pelo(a) USUÁRIO(A) dentro do website;<br>
	II.	Data e horário de cada ação dentro do website;<br>
	III. Tempo de utilização da página do website;<br>
	IV.	Acesso que fizer às páginas e telas das ferramentas, bem como as funcionalidades utilizadas no website;<br>
	V. Endereço de IP do(a) USUÁRIO(A);<br>
	VI. Informação do dispositivo e navegador utilizado pelo(a) USUÁRIO(A);<br>
	VII. Informação demográfica e localização do(a) USUÁRIO(A);<br>
	VIII. Origem da navegação, ou seja, a forma como o(a) USUÁRIO(A) chegou até o website;<br>
	IX. Gerenciamento de idiomas no website;</p><br>

	<p>3.2.	O seu consentimento aplica-se exclusivamente ao seguinte domínio: https://wecomply.com.br/, bem como os seus subdomínios.</p><br>

	<p>3.3.	Podemos utilizar outras tecnologias para coletar dados de navegação de nossos USUÁRIOS, o que inclui, mas não se limita a cookies, JavaScript, entre outros. Toda e qualquer tecnologia aplicada sempre respeitará os termos desse Aviso de Privacidade, bem como as opções de nossos USUÁRIOS.</p><br>

	<p>3.4.	Os USUÁRIOS poderão, a qualquer momento, alterar ou retirar o seu consentimento da Declaração de Cookies através das configurações de segurança do website.</p><br>

	<p>3.4.1.	Por usarmos apenas cookies analíticos, não recomendamos o bloqueio ou remoção deles, pois isso poderá resultar na impossibilidade de acessar o website.</p><br>

	<h3 class="linha4">4. DÚVIDAS, ESCLARECIMENTOS E SUGESTÕES</h3>

	<p>4.1.	O(A) USUÁRIO(A) poderá entrar em contato em caso de dúvidas, esclarecimentos e/ou sugestões através dos seguintes canais de contato:</p><br>

	<p>I. DPO nomeada: Bruna Oliveira</p>
	<p>II. E-mail: <a href="mailto:dpo@wecomply.com.br">dpo@wecomply.com.br</a></p><br>

	<h3 class="linha4">5. DISPOSIÇÕES GERAIS</h3>

	<p>5.1.	A WE COMPLY se reserva ao direito de atualizar esta Política a qualquer momento, conforme a finalidade e/ou necessidade, bem como para adequação e conformidade legal de disposição de lei ou norma que tenha força jurídica equivalente, devendo o(a) USUÁRIO(A) verificá-la sempre que possível.</p><br>

	<p>5.1.1.	Caso ocorram atualizações significativas nesta Política, WE COMPLY se reserva ao direito de notificar o(a) USUÁRIO(A) mediante os meios de contato por ele fornecido em nossas plataformas.</p><br>

	<p>5.2.	Empresas Terceirizadas que eventualmente realizem o processamento de quaisquer Dados coletados pela WE COMPLY, deverão respeitar, obrigatoriamente, as condições aqui estipuladas, bem como as normas de Segurança da Informação desta Organização.</p><br>

	<p>5.3.	 Caso alguma disposição desta Política seja considerada ilegal ou ilegítima, as demais condições permanecerão em pleno vigor e efeito.</p>
</div>
