<div class="col-lg">
  <h3 class="linha4">{{ include.title }}</h3>
    <p>Estou de acordo em fornecer os seguintes dados: nome completo, endereço de e-mail e/ou outras informações pessoais que julgo pertinentes para que a <a href="{{ baseurl }}/">We Comply</a> entre em contato comigo para solucionar a denúncia feita por mim.</p><br>
    <p>Tenho ciência ainda que meus dados pessoais ficarão armazenados na base de dados da <a href="{{ baseurl }}/">We Comply</a> até que minha demanda seja solucionada, sendo estes dados excluídos e/ou anonimizados imediatamente após este período, salvo se para o cumprimento de obrigação legal.</p><br>
    <p>Estou ciente de que posso revogar meu consentimento a qualquer momento, bastando enviar um e-mail para dpo@wecomply.com.br, salvo se houver outras bases legais que justifiquem a manutenção destes dados.</p><br>
    <p>Para maiores informações acesse nossa <a href="/politica-de-privacidade" target="_blank">Politica de Privacidade</a></p>
</div>
