.missao {
	color : #4672ff;
	}

.visao {
	color : #5c5bfa;
	}

.valores {
	color : #6e46f5;
	}

.sfpc {
	color : #4672ff;
  text-align: center;
	}

.sfc {
	color : #5c5bfa;
  text-align: center;
	}

.smc{
	color : #5c5bfa;
  text-align: center;
	}

.spoc {
	color : #6e46f5;
  text-align: center;
	}

.card-img-top {
    width: 150px;
    height: 150px;
    display: block;
}

.linha1 {
	color : #4672ff;
  text-align: center;
	}

.linha2{
	color : #5c5bfa;
  text-align: center;
	}

.linha3{
	color : #5c5bfa;
  text-align: center;
	}

.linha4 {
	color : #6e46f5;
  text-align: center;
	}

.skill {
  margin-bottom: 35px;
  position: relative;
  overflow: hidden;

  > p {
    margin: 0;
    font-size: 25px;
  }

  &:before {
    width: 100%;
    height: 5px;
    content: "";
    display: block;
    position: absolute;
    background: $light;
    bottom: 0;
  }
}

.skill-bar {
  width: 100%;
  height: 5px;
  background: $primary;
  display: block;
  position: relative;

  span {
    position: absolute;
    border-top: 5px solid inherit;
    top: -30px;
    padding: 0;
    font-size: 18px;
    padding: 3px 0;
    font-weight: 500;
    right: 0;
  }
}

.skill-bar.skill-bar-secondary {
  background: $secondary;
}

.skill-bar.skill-bar-success {
  background: $success;
}

.skill-bar.skill-bar-info {
  background: $info;
}

.skill-bar.skill-bar-warning {
  background: $warning;
}

.skill-bar.skill-bar-danger {
  background: $danger;
}

.skill-bar.skill-bar-light {
  background: $light;
}

.skill-bar.skill-bar-dark {
  background: $dark;
}

@for $i from 0 through 100 {
  .skill-#{$i} {
    width: percentage($i/100);
  }
}
