<div class="col-lg">
	<h3 class="certificacao">{{ include.title }}</h3>
	<p>Profissionais certificados pelas melhores Instituições do País e do Mundo:</p>
		<ul>
		<li>CPC-A, Certificação Profissional em Compliance Anticorrupção;</li>
		<li>Lead Implementer and Internal Auditor <b>ISO 37001</b>;</li>
		<li>SFC, Scrum Fundamentals Certified;</li>
		<li>SFPC, Scrum Foundation Professional Certificate;</li>
		<li>SMC, Scrum Master Certified;</li>
		<li>SPOC, Scrum Product Owner Certified.</li>
		</ul>
</div>